* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    color: #2f2f2f;
    text-decoration: none;
    font-size: 1rem;
}
body {
    background-color: rgb(242, 242, 242);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    position: fixed;
    width: 100%;
    border-bottom: solid rgb(195, 195, 195);
    margin: 0;
    backdrop-filter: blur(10px);
}
.logo {
    flex: 50%;
}
.logo img{
    width: 5rem;
    border-radius: 50%;
}

.hamburger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    align-self: flex-end; 
}
.bar {
    width: 1.2rem;
    height: 0.1rem;
    background-color: #2f2f2f;
    margin: 4px 0;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-right: 2rem;
}
.nav-links li:last-child {
    margin-right: 0;
}
.nav-links a {
    text-decoration: none;
    color: #2f2f2f;
    transition: font-size 1s ease;
}
.nav-links a:hover {
    color: #ff9442;
    font-size: 120%;
    transition: font-size 0.5s ease;
}

/* MAIN */
main {
    padding: 2rem;
    
}
.container {
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
article {
    flex: 70%;
}
article h1{
    font-size: 2.5rem;
    background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
article a{
    border: solid #2f2f2f;
    padding: 0.4rem 1rem 0.4rem 1rem;
    display: inline-flex;
    margin-top: 2rem;
    border-radius: 1.5rem;
    transition: font-size 0.5s ease;
}
article a:hover {
    color: white;
    border: none;
    box-shadow: 0px 0px 20px 2px grey;
    font-size: 110%;
    transition: font-size 0.5s ease;
    background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
}
aside {
    flex: 30%;
}
aside img {
    width: 15rem;
    border-radius: 2rem;
}
.container2 {
    display: flex;
    align-items: flex-start;
    border-radius: 1.5rem;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10rem;
}
.boxs img{
    width: 10rem;
}
.boxs {
    width: 10rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
}
.container3 {
    padding: 10rem 1rem 1rem 1rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont3 {
    padding: 1rem;
    border-radius: 0.5rem;
    width: 15rem;
    height: 25rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px grey;
}
.cont3 img {
    width: 10rem;
    height: 12rem;
    border-radius: 1rem;
    border: solid grey;
    object-fit: cover;
}
.cont3 a{
    background-color: #2e2e2e;
    color: white;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 1rem;
    transition: font-size 0.5s ease;
}
.cont3 a:hover {
    background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
    color: white;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 1rem;
    font-size: 115%;
    transition: font-size 0.5s ease;
}
.endword {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FOOTER */
footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
footer h2{
    background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sosmed a{
    padding: 0.3rem;
    border-radius: 0.5rem;
}
.sosmed a:hover {
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: #c93838;
}
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

/*MOBILE*/
@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
    }
    .hamburger-menu {
        display: flex; 
        margin-bottom: 2rem;
    }
    
    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 8rem;
        right: 0; 
        width: 100%;
        text-align: center;
        z-index: 9999;
        background-color: aliceblue;
        border-radius: 1rem;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links a {
        color: white;
        transition: font-size 0.5s ease;
        padding: 0.4rem 2rem 0.4rem 2rem;
        border-radius: 1.5rem;
        background-color: #2f2f2f;
    }
    .nav-links a:hover {
        color: white;
        transition: font-size 0.5s ease;
        background: linear-gradient(90deg,#ff9442,rgb(255, 0, 140));
    }
    .nav-links.active {
        display: flex; 
    }

    /* MAIN */
    .container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }
    aside {
        display: flex;
        justify-content: center;
    }


    .container2 {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
        
    }
    .boxs img{
        width: 10rem;
    }
    .boxs {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* FOOTER */
    footer {
        padding: 2rem;
        margin-top: 10rem;
    }
}
